.faq {
    padding-bottom: 180px;
}

.faq__ {
    &container {
        padding: 200px 16px 0 16px;
    }

    &subtitle {
        top: 153px;
        left: 50%;
        transform: translateX(-50%) rotate(-90deg);
        width: 0;
        color: $color-neutral;
    }

    &title{
        text-align: center;
        color: $color-primary;
        font-size: 64px;
        margin: 0 0 65px 0;
    }

    &accordion {
        max-width: 940px;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }

    &spoiler {
        width: 100%;
    }

    &spoiler + &spoiler {
        margin-top: 20px;
    }

    &spoiler-toggle {
        position: relative;
        border: none;
        background-color: $color-neutral-lt;
        width: 100%;
        padding: 16px;
        text-align: left;
    }

    &spoiler-title {
        margin: 0;
        color: $color-primary;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
    }

    &spoiler-content {
        display: none;
        padding: 32px;
        font-size: 20px;
        line-height: 2;

        p {
            margin: 0;
        }
    }

    &spoiler--is-active {
        .faq__spoiler-content {
            display: block;
        }
    }
}

@media screen and (min-width: 550px) {
    .faq {
        padding-bottom: 280px;
    }
}

@media screen and (min-width: 768px) {
    .faq__ {
        &spoiler-toggle {
            padding: 0 20px;
            line-height: 65px;

            &::after {
                content: 'VIEW';
                display: block;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: $color-neutral;
                font-weight: bold;
                font-size: 15px;
                letter-spacing: 0.5px;
            }
        }

        &spoiler-content {
            padding: 60px 100px 80px 100px;
        }

        &spoiler--is-active {
            .faq__spoiler-toggle::after {
                content: 'CLOSE';
            }
        }
    }
}