.promo {
    height: 940px;
}

.promo__ {
    &graphics {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 0;
            top: 100px;
            left: 0;
            width: 100%;
            height: 480px;
            background-color: $color-neutral-dk;
        }
    }

    &top-graphic,
    &bottom-graphic {
        position: absolute;
    }

    &top-graphic {
        display: none;
    }

    &bottom-graphic {
        top: 0;
        left: 0;
        max-width: 540px;
        width: 100%;
        height: 520px;
        z-index: 1;
    }

    &content {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 260px;
        padding: 32px;
        max-width: 600px;
        width: 100%;
        background-color: $color-white;
    }

    &title {
        text-transform: uppercase;
        font-size: 41px;
        line-height: 1;
        color: $color-secondary;
        margin: 0 0 30px 0;
    }

    &text {
        font-size: 20px;
        line-height: 2;
        margin: 0 0 80px 0;
    }
}

@media screen and (min-width: 550px) {
    .promo {
        height: 1100px;
    }

    .promo__ {
        &title {
            font-size: 71px;
            margin: 0 0 90px 0;
        }

        &content {
            padding: 32px 32px 0 100px;
        }
    }
}

@media screen and (min-width: 610px) {
    .promo__ {
        &graphics::after {
            width: 610px;
        }
    }
}

@media screen and (min-width: 1250px) {
    .promo__ {
        &container {
            display: flex;
        }

        &content {
            flex: 0 0 percentage(700 / 1600);
            padding: 265px 32px 0 100px;
            max-width: initial;
            width: initial;
            position: initial;
            right: initial;
            top: initial;
        }
        
        &graphics {
            flex: 0 0 percentage(900 / 1600);

            &::after {
                width: 750px;
                height: 700px;
            }
        }

        &top-graphic {
            display: block;
            top: 0;
            left: 0;
            width: 450px;
            height: 440px;
            z-index: 2;
        }

        &bottom-graphic {
            left: initial;
            top: 200px;
            right: 0;
            max-width: initial;
            width: 700px;
            height: 700px;
        }
    }
}

@media screen and (min-width: 1575px) {
    .promo__ {
        &content {
            padding: 265px 0 0 100px;
        }
    }
}