$color-primary: #1098f7;
$color-secondary: #c5d86d;
$color-neutral: #a3a3a3;
$color-neutral-dk: #1c1d21;
$color-neutral-lt: #ececec;
$color-white: #fff;
$color-black: #000;
$color-font-base: #1c1d21;
$color-font-lt: #b4b4b4;
$color-link-base: $color-primary;
$color-link-hover: darken($color-primary, 20%);